* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
:root {
  --primary-color: #7264d6;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background: #fff;
}

/* Common */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 56px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border: 1px solid rgb(0, 9, 88, 0.7);
  border-radius: 99px;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #000958;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn--primary {
  color: #fff !important;
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.section-heading {
  color: #212832;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px; /* 125% */
}

.section-heading-lv3 {
  color: #212832;
  font-family: "Open Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.45; /* 145.455% */
}
.section-desc {
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.header__tag {
  margin: auto;
  display: block;
  position: relative;
  color: #696d77;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
/* Header */

.header {
  padding: 26px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar */
.navbar__list {
  display: flex;
}

.navbar__link,
.header-action__link {
  position: relative;
  padding: 8px 24px;
  color: #696d76;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.navbar__link:hover {
  color: #212832;
  text-align: center;
  font-size: 1.6rem;
  text-shadow: 1px 0 0 currentColor;
  line-height: 1.75; /* 175% */
  &::after {
    display: block;
  }
}

.navbar__link::after {
  display: none;
  position: absolute;
  content: "";
  width: 60%;
  height: 1px;
  border-radius: 0.5px;
  background: #7264d6;
  margin-top: 7px;

  left: 21px;
  bottom: 6px;
}

.header-action__link:hover {
  color: #212832;
  font-size: 1.6rem;
  text-shadow: 1px 0 0 currentColor;
  line-height: 1.75; /* 175% */
}

.header-action__btn {
  --height: 52px;
  border-radius: 6px;
  background: #212832;
  min-width: 113px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

/* Hero */
.hero {
  margin-top: 76px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-self: center;
  column-gap: 60px;
}

.hero__media {
  position: relative;
}

.hero__deposit {
  display: flex;
  position: absolute;
  align-items: center;
  width: 174px;
  height: 46px;
  padding: 16px 10px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  left: -100px;
  top: 130px;
}

.hero__deposit-title {
  color: #31456a;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  margin: 0 19px 0 8px;
}

.hero__deposit-money {
  color: #4ab5e3;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}

.hero__secured-funds {
  position: absolute;
  bottom: 136px;
  bottom: 61px;
  left: 246px;
  width: 124px;
  height: 68px;
  flex-shrink: 0;
}

.hero__interests {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 127px;
  left: 327px;
}

.hero__img-wrap {
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 562px;
  border-radius: 16px;
  border: 3px solid #fff;
}

.hero__img {
  position: relative;
  display: block;
  max-width: 100%;
  max-height: 100%;
  inset: auto 0 0 0;
}

/* Hero content */

.hero__heading {
  color: #212832;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
}

.hero__heading .highlight {
  color: #7264d6;
  font-size: 6rem;
  font-weight: 700;
  line-height: 70px;
}

.hero__desc-top::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background: #696d77;
  margin-top: 7px;

  left: -30px;
  bottom: 13px;
}

.feedback__desc-top {
  width: 435px;
  margin-left: auto;
  margin-right: auto;
  color: #696d76;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.feedback__desc-top::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background: #696d77;
  margin-top: 7px;
  text-align: center;
  left: 130px;
  bottom: 13px;
}

.works__desc-top::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background: #696d77;
  margin-top: 7px;

  left: -30px;
  bottom: 13px;
}

.hero__desc {
  width: 540px;
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #696d76;
  font-weight: 400;
}

.hero__subscribe-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 540px;
  height: 74px;

  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__subscribe-input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 23px 0 23px 23px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1.4rem;
  background: #fff;
}

.hero__subscribe-input:focus {
  border: 1px solid #7264d6;
}

.hero__subscribe-input::placeholder {
  display: inline-block;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.hero__subscribe-btn {
  position: absolute;
  --height: 58px;
  min-width: 149px;
  padding: 15px 30px;
  border-radius: 8px;
  background: #7264d6;
  margin-left: 383px;
}

.hero__cta-link {
  margin-left: 24px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 16px;

  text-align: center;
  text-decoration-line: underline;

  color: #000958;
}

/* Works */

.works {
  margin-top: 160px;
}

.works__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 230px;
}

.works__media {
  position: relative;
}

.works__img {
  position: relative;
  display: block;
  width: 456px;
  height: 619px;
  margin: 0 auto;
  bottom: 0;
}

.works__desc-top {
  margin-bottom: 12px;
}

.works-title {
  margin-bottom: 70px;
}

.works__badge-congratulation-content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-left: 10px;
}

.works__title {
  color: #212832;
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  display: block;
  font-weight: 600;
}

.works__desc {
  color: #696d76;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
}

.works__img-wrap {
  position: relative;
  display: block;
  margin: 0 auto;
}

.works__img-wrap::after {
  position: absolute;
  display: block;
  content: "";
  z-index: -1;
  height: 100%;
  inset: 73px 0 0 0;
  background: url(../img/background-works.svg) no-repeat;
  border: none;
}

.works__decor-top {
  position: absolute;

  inset: 76px 55px auto 337px;
}

.works__badge-congratulation {
  position: absolute;
  display: flex;
  align-items: center;
  width: 226px;
  height: 70px;
  left: 337px;
  bottom: 96px;

  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.works__img-wrap-bottom {
  position: relative;
  width: 470px;
  height: 550px;
  margin-left: 0;
}

.works__desc-bottom {
  width: 470px;
  margin-bottom: 30px;
}

.works__desc-bottom:last-child {
  margin-bottom: 0;
}

/* Payments */

.payments {
  margin-top: 160px;
}

.payments__inner {
  display: flex;
  align-items: center;
  column-gap: 130px;
}

.payments__main-desc {
  margin-top: 20px;
  width: 470px;

  color: #696d76;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  margin-bottom: 28px;
}
.payments__options {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.payments__desc-top {
  color: #696d77;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.payments__desc-top::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background: #696d77;
  margin-top: 7px;

  left: -30px;
  bottom: 13px;
}

.payments__desc-mini {
  color: #696d76;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.payments__desc-bottom {
  display: flex;
  align-items: center;
  position: relative;
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.payments__desc-bottom::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 99px;
  background: #7264d6;
  margin-right: 12px;
  left: 0;
}

.payments-action__btn {
  width: 149px;
  height: 58px;
  color: #fff;
  margin-top: 38px;

  border-radius: 8px;
  background: #212832;
}

.payments__media {
  position: relative;
}

.payments__img {
  position: relative;
  display: block;
  width: 456px;
  height: 619px;
  margin: 0 auto;
  bottom: 0;
}

.payments-title {
  margin-bottom: 70px;
}

.payments__badge-income {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: -65px;
  margin-left: 450px;
  padding: 15px;
  z-index: 999;
  position: absolute;
  width: 120px;
  height: 120px;

  border-radius: 16px;
  background: #439f90;
}

.payments__title {
  margin-top: 15px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.payments__desc {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 6px;
  left: 15px;
  bottom: 15px;
}

.payments__badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 276px;
  height: 86px;
  left: 337px;
  bottom: 284px;

  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.payments__badge-content {
  margin: auto 0;
  white-space: nowrap;
}

.payments__badge-content-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.payments__title-content {
  color: #212832;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}
.payments__main-content {
  width: 470px;

  color: #212832;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.payments__money {
  color: #212832;
  text-align: right;
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.payments__time {
  color: #696d76;
  text-align: right;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.about__check-item::after {
  position: absolute;
  top: 2px;
  left: 3px;
  content: url(../icons/check.svg);
}

/*Transfer */
.transfer {
  margin-top: 210px;
}

.transfer__inner {
  display: flex;
  align-items: center;
  column-gap: 130px;
}

.transfer__desc-top {
  color: #696d77;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.transfer__desc-top::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background: #696d77;
  margin-top: 7px;

  left: -30px;
  bottom: 13px;
}

.transfer__media {
  position: relative;
}

.transfer__img {
  position: absolute;
  display: block;
  width: 430px;
  height: 600px;
  margin: 0 auto;
  bottom: -25px;
}

.transfer-title {
  margin-bottom: 70px;
}

.transfer__badge-congratulation-content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-left: 10px;
}

.transfer__title {
  color: #212832;
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  display: block;
  font-weight: 600;
}

.transfer__desc {
  color: #696d76;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
}

.transfer__img-wrap {
  position: relative;
  display: block;
  margin: 0 auto;
}

.transfer__img-wrap::after {
  position: absolute;
  display: block;
  content: "";
  z-index: -1;
  height: 100%;
  inset: 144px 0 0 0;
  background: url(../img/transfer-bg.svg) no-repeat;
  border: none;
  border-radius: 8px;
}

.transfer__decor-top {
  z-index: 999;
  position: absolute;
  bottom: 165px;
  left: 430px;
}

.transfer__badge-congratulation {
  position: absolute;
  display: flex;
  align-items: center;
  width: 226px;
  height: 70px;
  left: 337px;
  bottom: 96px;

  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.transfer__img-wrap-bottom {
  position: relative;
  width: 470px;
  height: 550px;
  margin-left: 0;
}

.transfer__desc-bottom:last-child {
  margin-bottom: 0;
}

.transfer__decor-visas {
  position: absolute;
  bottom: -30px;
  left: 195px;
}

.transfer-action__btn {
  width: 149px;
  height: 58px;
  color: #fff;
  margin-top: 38px;

  border-radius: 8px;
  background: #212832;
}

.transfer__desc-bottom {
  display: flex;
  align-items: center;
  position: relative;
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  width: 470px;
  margin-bottom: 30px;
}

.transfer__desc-bottom::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 99px;
  background: #7264d6;
  margin-right: 12px;
  left: 0;
}

.transfer__main-desc {
  margin-top: 20px;
  width: 470px;

  color: #696d76;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  margin-bottom: 28px;
}

.about__card-title {
  font-family: Sora, sans-serif;
  color: #fff;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1; /* 100% */
}

.about__card-desc {
  margin-top: 14px;
  font-size: 1.4rem;
  line-height: 1.43;
  color: #c6f4f9;
}

.about__card-decor {
  position: absolute;
  top: -39px;
  right: -32px;
}

.about__img {
  width: 450px;
  display: block;
  margin: 0 auto;
}

.about__media-decor {
  position: absolute;
  top: 157px;
  right: -50px;
  z-index: -1;
}

.about__img-wrap-bottom::after {
  content: none;
}

.about__img--bottom {
  width: 100%;
}

.about__decor-img {
  position: absolute;
}

.about__decor-img:nth-child(1) {
  top: 13px;
  right: 64px;
}

.about__decor-img:nth-child(2) {
  top: -16px;
  right: 13px;
}

.about__decor-img:nth-child(3) {
  top: 33px;
  right: -21px;
}

.about__decor-img:nth-child(4) {
  top: 268px;
  right: -33px;
}

.about__decor-img:nth-child(5) {
  bottom: 150px;
  right: 19px;
}

.about__decor-img:nth-child(6) {
  right: -24px;
  bottom: -40px;
}

.about__decor-img:nth-child(7) {
  right: -33px;
  bottom: -47px;
}

.about__decor-img:nth-child(8) {
  right: -42px;
  bottom: -55px;
}

.tab__list {
  position: relative;
  display: flex;
  column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  border-radius: 1px;
  background-color: #ff5d31;
  opacity: 0.07;
}

.tab__item--active::after {
  width: 95px;
  opacity: 1;
}

.tab__item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-bottom: 14px;
  cursor: pointer;
}

.tab__icon {
  width: 20px;
}

.tab__title {
  color: #48496a;
  font-family: Sora, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  white-space: nowrap;
}

.tab__contents {
  padding-top: 36px;
}

.tab__content-item {
  display: none;
}

.tab__content-item--active {
  display: block;
}

.tab__content-desc {
  width: 391px;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #656689;
}

.tab__content-more {
  position: relative;
  display: inline-block;
  margin-top: 32px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 1.6rem;
}

.tab__content-more::after {
  opacity: 1;
  height: 1.5px;
}

/* Service */

.service {
  margin-top: 190px;
  padding: 68px 0 100px;
  background: #fff6ed;
}

.service__top {
  text-align: center;
}

.service__desc,
.staff__desc {
  margin-bottom: 15px;
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  color: #5e6085;
}

.service__body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-top: 65px;
  column-gap: 70px;
}

.service-item {
  width: 294px;
  padding: 30px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
  border-radius: 10px;
}

.service-item + .service-item {
  margin-top: 24px;
}

.service-item__heading {
  position: relative;
  padding-left: 12px;
  color: #000958;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.service-item__heading::before {
  position: absolute;
  content: "";
  inset: 0 auto 0 0;
  display: inline-block;
  width: 2px;
  border-radius: 1px;
  background: linear-gradient(#ff5b2e, #ffa187);
}

.service-item__desc {
  margin-top: 18px;
  font-size: 14px;
  line-height: 1.71;
  color: #656699;
}

.service-item__more {
  display: inline-flex;
  align-items: center;
  margin-top: 24px;
  font-family: Sora, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  color: #34396a;
}

.service-item__more::after {
  content: url(../icons/arrowupright.svg);
  margin: 1px 0 0 5px;
}

.service__media {
  position: relative;
  margin-top: 18px;
}

.service__media::after {
  content: "";
  position: absolute;
  height: 350px;
  left: 16px;
  right: 16px;
  bottom: 0;

  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
  position: relative;
  width: 100%;
  display: block;
  z-index: 1;
}

.service__cta-wrap {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

.service__cta {
  min-width: 214px;
  color: #ff5b2e;
  border-color: currentColor;
}

/* Staff */
.staff {
  padding: 130px 0;
}
.staff__desc,
.staff__heading {
  text-align: center;
}

.staff__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  margin-top: 45px;
}

.staff-item {
  text-align: center;
}

.staff-item__img-wrap {
  position: relative;
  margin: 0 16px;
  border-radius: 130px;
}

.staff-item__img-wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 94%;
  border-radius: inherit;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item__img-wrap::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: calc(100% + 36px);
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
  background-image: url(../img/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
  background-image: url(../img/staff-decor-02.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
  background-image: url(../img/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
  background-image: url(../img/staff-decor-04.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
  background-position: 0 16px;
}

.staff-item__img {
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
  border-radius: inherit;
}

.staff-item__title {
  margin-top: 34px;
  font-size: 1.4rem;
  line-height: 1;
  color: #656689;
}

.staff-item__name {
  margin-top: 14px;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #000968;
}

.staff__cta-wrap {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.staff__cta {
  min-width: 193px;
  color: #ff5b2e;
  border-color: currentColor;
}

/* Testimonial section */

.testimonial-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
  max-width: 1440px;
  height: 605px;
  padding: 40px;
  background-color: #ffffff;
}

/* Header styles */
.section-header {
  text-align: center;
  margin-bottom: 70px;
}

.section-label {
  color: #696d77;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.section-title {
  width: 359px;
  margin: 12px auto 16px;
  color: #212832;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.section-description {
  width: 435px;

  color: #696d76;
  margin: 0 auto 70px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

/* Testimonial container */
.testimonials-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  column-gap: 30px;
  margin-top: 40px;
}

/* Individual testimonial card */
.testimonial-card:nth-of-type(1) {
  flex: 1;
  padding: 42px 28px 52px;
  position: relative;
  width: 570px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e8ebee;
  filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.testimonial-card:nth-of-type(1)::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -80px;
  border: 40px solid;
  border-color: #fff transparent transparent transparent;
}

.testimonial-card:nth-of-type(2) {
  flex: 1;
  padding: 42px 28px 52px;
  position: relative;
  width: 570px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e8ebee;
  filter: drop-shadow(0 0 1px #dfe2e8);
}

.testimonial-card:nth-of-type(2)::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -80px;
  border: 40px solid;
  border-color: #fff transparent transparent transparent;
}
/* Testimonial content */

.testimonial-content-text {
  width: 514px;

  color: #696d76;
  text-align: center;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.55; /* 154.545% */
}
/* Profile section */
.author-name {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-left: -26px;
  margin-top: 20px;
  white-space: nowrap;
  color: #070052;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.author-title {
  margin: 2px auto;
  color: #696d76;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.author-image {
  position: relative;
  width: 104px;
  height: 104px;
  border-radius: 52px;
  margin: 10px auto;
}

.testimonial-author:nth-last-of-type(2) {
  position: relative;
  width: 104px;
  height: 104px;
  border-radius: 52px;
  background: #4ab5e3;
  display: flex;
  flex-direction: column;
  margin: 72px auto;
}

.testimonial-author:nth-last-of-type(1) {
  position: relative;
  width: 104px;
  height: 104px;
  border-radius: 52px;
  display: flex;
  flex-direction: column;

  background: #439f90;
  margin: 72px auto;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 4px;
}

.profile-title {
  color: #696d76;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

/* Blog */

.blog-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 320px;
  max-width: 1440px;
  height: 690px;
  padding: 40px;
  background-color: #ffffff;
}

.blog-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  width: 100%;
}

.blog-label {
  color: #696d77;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.blog-title {
  width: 359px;

  color: #212832;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.blog-section-title {
  width: 359px;

  color: #212832;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.blog-section-description {
  width: 435px;

  color: #696d76;
  margin: 18px 0 70px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.blog__subscribe-btn {
  width: 123px;
  height: 58px;
  border-radius: 8px;
  background: #212832;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  margin-top: -56px;
  padding: 15px 30px;
}

.blog-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 30px;
}

.blog-card {
  position: relative;
  flex: 1;
  padding: 28px 28px;
  width: 570px;
  border: 1px solid #e8ebee;
  filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
  height: 216px;

  border-radius: 12px;
  background: #fff;
}

.blog-card-info {
  margin-left: 22px;
  display: flex;
  flex-direction: column;
}

.blog__card-content {
  display: flex;
}

.blog-time {
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
}

.blog-card-title {
  margin: 10px 0 20px;
  width: 332px;

  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.blog_read-more {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #696d76;
  text-decoration: none;
  margin-top: 20px;
}

.blog_read-more:hover {
  color: #7264d6;
}

/* Install */
.install-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.install-section__inner {
  width: 1170px;
  height: 466px;

  border-radius: 24px;
  background: #7264d6;
  position: relative;
}

.install-header {
  text-align: center;
  padding-top: 100px;
}

.install-label {
  text-align: center;
  display: block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.install-title {
  width: 402px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.install-description {
  width: 435px;
  margin: 18px auto 38px;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.install_store {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 28px auto 100px;
  gap: 16px;
}

.install_google,
.install_apple {
  width: 182px;
  height: 64px;
}

.install__decor {
  position: absolute;
  margin: auto auto;
  inset: 0 0 0 0;
}

.decor_star-top-left {
  position: absolute;
  margin: 49px 904px 263px 112px;
}

.decor_star-bottom-left {
  position: absolute;
  margin: 263px 850px 49px 160px;
}

.decor_star-top-right {
  position: absolute;
  margin: 263px 166px 49px 850px;
}

.decor_star-bottom-right {
  position: absolute;
  margin: 49px 112px 263px 904px;
}

.review__inner {
  display: flex;
  align-items: center;
  column-gap: 44px;
}

.review__control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1.5px solid #ffd1c4;
  background: transparent;
  color: #ff5b2e;
}

.review__control:hover {
  color: #fff;
  background: #ff5b2e;
  cursor: pointer;
  border-color: #ff5b2e;
}

.review__control:nth-of-type(2) {
  margin-left: auto;
}

.review-item {
  display: flex;
  align-items: center;
  column-gap: 115px;
  width: 100%;
  flex-shrink: 0;
}

.review__list {
  display: flex;
}

.review-item__media {
  position: relative;
  flex-shrink: 0;
  width: 274px;
  border-radius: 137px;
  margin-top: -52px;
}

.review-item__media::after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: 82%;
  background: #ffda54;
  border-radius: inherit;
}

.review-item__content {
  margin-top: 28px;
}

.review__content {
  overflow: hidden;
}

.review-item__img {
  position: relative;
  display: block;
  z-index: 1;
  width: 100%;
  border-radius: inherit;
}

.review-item__quote {
  width: 553px;
  margin-top: 24px;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #000;
}

.review-item__author {
  display: flex;
  align-items: center;
  margin-top: 34px;
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #282828;
}

.review-item__author::before {
  margin-right: 8px;
  display: inline-block;
  content: "";
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background: #000;
}

.testimonial__dots {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.testimonial__dot {
  width: 22px;
  height: 6px;
  border-radius: 1px;
  border: 1px solid #9b9fab;
}

.testimonial__dot:hover {
  background: #7264d6;
  cursor: pointer;
}

.testimonial__dot--active {
  width: 22px;
  background: #7264d6;
}

/* Blog */

/* Footer */

.footer {
  margin-top: 100px;
  background: #fafbff;
}

.footer__inner {
}

.footer__inner-row {
  display: flex;
  padding: 100px 135px 28px 135px;
  column-gap: 163px;
}

.footer__left {
  padding: 114px 0 148px;
  width: 42%;
}

.footer__right {
  flex: 1;
  padding: 52px 0 48px 129px;
}

.footer__column-title {
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.head-office-desc {
  width: 371px;

  color: #6a6e78;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */

  margin: 24px auto 48px;
  opacity: 0.75;
}

.footer__person-info {
  display: flex;
  column-gap: 100px;
  align-items: center;
  justify-content: start;
  color: #6a6e78;
  text-align: justify;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin: 0 auto 28px 135px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 268px;
  height: 46px;
  margin: 34px 0 68px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  border-radius: 99px;
  background: #fff;
}

.subscribe-form__input {
  width: 100%;
  height: 100%;
  padding: 0 22px;
  border: none;
  outline: none;
  border-radius: inherit;
  font-size: 1.4rem;
}

.subscribe-form__input::placeholder {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.17;
  color: #656689;
  opacity: 0.8;
}

.subscribe-form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  margin-right: -1px;
  border-radius: 50%;
  background: #ff5b2e;
  box-shadow: 0px 15px 28px -px rgba(255, 91, 46, 0.3);
  outline: none;
  border: none;
}

.subscribe-form__submit:hover {
  opacity: 0.9;
  cursor: pointer;
}

.footer__heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.11;
  color: #000958;
}

.social-list {
  display: flex;
  column-gap: 16px;
  margin-top: 16px;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
}

.social-item:hover {
  opacity: 0.9;
}

.footer__row {
  display: grid;
  grid-template-columns: auto auto;
  gap: 58px 137px;
}

.footer__list {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  margin: 18px auto 70px;
}

.footer__link {
  color: #656689;

  color: #6a6e78;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */

  opacity: 0.75;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__input {
  color: #8e919a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  padding: 12px;
  width: 270px;
  height: 52px;

  border-radius: 6px;
  border: 1px solid #8e919a;
}

.btn--primary-footer {
  width: 113px;
  height: 52px;
  color: #fff;
  margin-left: 38px;
  padding: 12px;
  border: none;

  border-radius: 6px;
  background: #7264d6;
}

.footer__copyright {
  width: 100%;
  height: 84px;
  background: #7264d6;
  padding: 28px 578px;
}

.footer__copyright-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
